[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #009485;
  --md-primary-fg-color--light: #33bc84;
  --md-primary-fg-color--dark:  #135658;
  
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #009485;
  --md-primary-fg-color--light: #69bc69;
  --md-primary-fg-color--dark:  #009485;
}
