[data-md-color-scheme="default"] {
  --md-primary-fg-color: #5aba8a;
  --md-primary-fg-color--light: #e1f296;
  --md-primary-fg-color--dark: #01565b;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #5aba8a;
  --md-primary-fg-color--light: #e1f296;
  --md-primary-fg-color--dark: #01565b;
}